<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav.ejs") %>


      <div class="container">
        <div class="card">
          <div class="card-header">
            Edit Post!
          </div>

          <div class="card-body">
            <form action="/posts/<%=post.id %>?_method=PUT" method="POST">
              <div class="mb-3">
                <legend>User Information</legend>
                <label for="post-username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" value="<%= post.username %> "
                  maxlength="20">
              </div>

              <% const avatars=[ { name: "abra" , src: "/assets/_abra.png" }, { name: "bellsprout" ,
              src: "/assets/_bellsprout.png" }, { name: "eevee" , src: "/assets/_eevee.png" },] %>
              <div class="mb-3">
                <label for="validationCustomUsername" class="form-label">Avatar</label>
                <select name="avatar" for="user-avatar" class="form-select" aria-label="Default select example">
                  <option selected>choose an avatar</option>
                  <% avatars.forEach(avatar=> { %>
                    <option value="<%= avatar.src %>">
                      <%= avatar.name %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="mb-3">
                <legend>Post Information</legend>
                <label for="post-image" class="form-label">Post Image</label>
                <input type="text" class="form-control" name="image" id="post-image" value="<%= post.image %> ">
              </div>

              <div class="mb-3">
                <label for="post-text" class="form-label">Comment</label>
                <input class="form-control" name="text" id="post-text" cols="30" rows="10"
                  placeholder="<%= post.text %> " value="<%= post.text %>" maxlength="144">
              </div>

              <button type="submit" class="btn btn-primary mb-3">Update Post!</button>
            </form>
          </div>
        </div>
      </div>
  </body>

</html>