<!DOCTYPE html>
<html lang="en">



<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

<body style="background-image: linear-gradient(#FAFAFA, #f2c335, #f2b035, #f24b59, #ff1a1a, #8684bf, #202d73);"
>

  <section>
    <!-- Nav Partial -->
    <%- include("partials/_nav.ejs") %>
  </section>
  <div class="home">
    <% post.slice().reverse().forEach(allPosts=> { %>
    <section>
      <div class="card mx-auto" style="width: 30rem;">
        <section id="index-card-top" class="top d-flex justify-content-between">
          <section class="d-flex align-items-center">
            <img class="post-avatar" src="<%= allPosts.avatar %> " alt="avatar" height="30px">
            <h5 class="post-user" style="font-family: 'Press Start 2P', cursive">
              <%= allPosts.username %>
            </h5>
          </section>
          <div class="dropdown d-flex">
            <a class="btn btn-link dropdown-toggle-split" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              <svg style="color: white" class="dark" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-three-dots" viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/posts/<%= allPosts._id%>/edit">Edit Post</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Delete
                  Post</a></li>
            </ul>
          </div>
        </section>
        <a href="/posts/<%= allPosts._id%> ">
          <img class="card-img-top" src="<%= allPosts.image %>"></a>

        <div class="card-body">
          <section class="post-text, d-flex">

            <form action="/posts/likes/<%= allPosts._id %>?_method=PUT" method="POST">
              <%if (allPosts.likes !==false ) { %>
                <button class="likes" type="submit" aria-expanded="false">
                  <img class="post-likes" style="cursor: pointer;" src="/assets/_Favourite.png" alt="like"
                    height="30px">
                </button>
                <% } else { %>
                  <button class="likes" type="submit" aria-expanded="false">
                    <img class="post-likes" style="cursor: pointer;" src="/assets/_heart-static.png" alt="like"
                      height="30px">
                  </button>
                  <% }; %>
            </form>
            <p class="indexCaption">
              <%= allPosts.text %>
            </p>
          </section>
    <ul class="list-group list-group-flush">
      <% comment.forEach(comments=> { %>
        <% if(comments.post==allPosts.id) { %>
          <li class="list-group-item d-flex">
            <strong>
              <section class="me-auto">
                <%= comments.username %>
            </strong>
            <span class="comment-text-space"> <%= comments.text %> </span>
    </section>
          <form action="posts/comments/likes/<%= comments._id %>?_method=PUT" method="POST">
            <%if (comments.likes !==false ) { %>
              <button class="likes" type="submit">
                <img class="post-likes" style="cursor: pointer;" src="/assets/_Favourite.png" alt="like" height="30px">
              </button>
              <% } else { %>
                <button class="likes" type="submit">
                  <img class="post-likes" style="cursor: pointer;" src="/assets/_heart-static.png" alt="like" height="30px">
                </button>
                <% }; %>
          </form>
        </li>
              <% } %>
            <% }); %>
    </ul>
        <a href="/posts/<%= allPosts._id%> " class="btn btn-primary justify-content-around">Comment on this post</a>
      </div>

      </div>
    </div>
    </section>
  </div>

  
        <!-- Delete Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/posts/<%= allPosts._id %>?_method=DELETE" method="POST">
                  <input type="submit" class="btn btn-primary" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
        <% });%>

        <footer class="text-center">
          <div class="card">
            <div class="card-body">
              <h6>About the Awesome Trainers that made Pokégram</h6>
              Gerald Tiamzon <a href="https://www.linkedin.com/in/gerald-tiamzon/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
                </a><a href="https://github.com/gtiamzon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                    </a>
                <br>
                Jennifer Goldberg <a href="https://www.linkedin.com/in/jennifer-goldberg/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
                  </a><a href="https://github.com/jennifergoldberg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                      </a>
            </div>
          </div>
        
        
        </footer>

</body>
</html>