<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

<body>
<section>
  <!-- Nav Partial -->
  <%- include("partials/_nav.ejs") %> 
</section>
<% post.slice().reverse().forEach(allPosts => { %>
  <section>
    <div class="card mx-auto" style="width: 30rem;">
      <section class="top d-flex justify-content-between">
        <section class="d-flex">
          <img class="post-avatar" src="/assets/_pikachu.png" alt="avatar" height="30px">
          <h5 class="post-user">
            <%= allPosts.username %>
          </h5>
      </section>
      <svg class="dark" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
      </section>
      <a href="/posts/<%= allPosts._id%> ">
      <img class="card-img-top" src="<%= allPosts.image %>"></a>
      
      <div class="card-body">
        <section class="post-text, d-flex">

          <form action="/posts/likes/<%= allPosts._id %>?_method=PUT" method="POST">
            <%if (allPosts.likes !== false ) { %> 
              <button type="submit">
                <img class="post-likes" style="cursor: pointer;" src="/assets/_Favourite.png" alt="like" height="30px">
              </button>
              <% } else { %> 
              <button type="submit">
                <img class="post-likes" style="cursor: pointer;" src="/assets/_heart-static.png" alt="like" height="30px">
              </button>
            <% }; %> 
          </form>
            <p class="indexCaption">
              <%= allPosts.text %>
            </p>
        </section>
        <ul class="list-group list-group-flush">
          <% comment.forEach(comments => { %> 
            <% if(comments.post == allPosts.id) { %> 
            <li class="list-group-item d-flex">
              <strong>
                <section class="me-auto">
                  <%= comments.username %>
              </strong> 
                - <%= comments.text %>
                </section> 
              <form action="/posts/likes/<%= allPosts._id %>?_method=PUT" method="POST">
                <%if (allPosts.likes !== false ) { %> 
                  <button type="submit">
                    <img class="post-likes" style="cursor: pointer;" src="/assets/_Favourite.png" alt="like" height="30px">
                  </button>
                  <% } else { %> 
                  <button type="submit">
                    <img class="post-likes" style="cursor: pointer;" src="/assets/_heart-static.png" alt="like" height="30px">
                  </button>
                <% }; %> 
              </form>
            </li>
            <% } %> 
            <% }); %> 
          </ul>
        <a href="/posts/<%= allPosts._id%> " class="btn btn-primary">Comment on this post</a>
      </div>
    </div>
    </section>
<% });%>

</body>


</html>

