<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

<body>
<!-- Nav Partial -->
<%- include("partials/_nav.ejs") %> 

  <div class="card mx-auto" style="width: 30rem;">
    <div class="show-container">
      <div class="card-header">
        <div class="show-header d-flex justify-content-start">
          <img src="<%= post.avatar %>" alt="avatar icon" height="30">
          <p><%= post.username %></p>
        </div>

        <div class="dropdown d-flex justify-content-end">
          <a class="btn btn-secondary dropdown-toggle-split" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/posts/<%= post.id %>/edit">Edit Post</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <img src="<%= post.image %>" class="card-img-top" alt="...">
    <div class="card-body" >
      <p class="card-text"><%= post.text %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">show comment</li>
      <li class="list-group-item"></li>
      <li class="list-group-item"></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</body>
</html>