<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

<body>
<!-- Nav Partial -->
<%- include("partials/_nav.ejs") %> 

  <div class="card mx-auto" style="width: 30rem;">
    
    <div class="card-header">
      <div class="show-header">
        <img src="<%= post.avatar %>" alt="..." height="30">
        <p><%= post.username %></p>
      </div>
    </div>
    <img src="<%= post.image %>" class="card-img-top" alt="...">
    <div class="card-body" >
      <p class="card-text"><%= post.text %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <% comment.slice().reverse().forEach(comments => { %> 
      <li class="list-group-item"><%= comments.text %> </li>
      <% }); %> 
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</body>
</html>